In [1]:
import os
import re
# Affiche le répertoire courant
current_directory = os.getcwd()
print("Répertoire courant :", current_directory)

Répertoire courant : /Users/sodagayethiam/Documents/Formations/Parcours_data_engineer/projet_jobmarket/JobMarket/processing

In [2]:
import sys
sys.path.append('../')

import pandas as pd
from tqdm import tqdm
tqdm.pandas()  # Initialiser tqdm pour pandas
from common.utils import translate_to_english
from common.utils import clean_text
from common.utils import extract_salary_info

import pickle
from datetime import datetime

In [3]:
#jobs_adzuna= pd.read_pickle('../outputs/raw/jobs_adzuna_sept.pkl')
jobs_adzuna= pd.read_pickle('../outputs/raw/jobs_adzuna_nov.pkl')
jobs_themuse = pd.read_pickle('../outputs/raw/jobs_muse_sept.pkl')
jobs_wttj = pd.read_pickle('../outputs/raw/jobs_wttj_aout.pkl')
jobs_linkedin = pd.read_pickle('../outputs/raw/jobs_linkedin_nov.pkl')

In [4]:
jobs_adzuna2= pd.read_pickle('../outputs/raw/jobs_adzuna_us_nov.pkl')
jobs_adzuna3= pd.read_pickle('../outputs/raw/jobs_adzuna_sept.pkl')
jobs_adzuna= pd.read_pickle('../outputs/raw/jobs_adzuna_nov.pkl')

print(jobs_adzuna.shape)
print(jobs_adzuna2.shape)
print(jobs_adzuna3.shape)

jobs_adzuna = pd.concat([jobs_adzuna, jobs_adzuna2], axis=0)
jobs_adzuna = pd.concat([jobs_adzuna, jobs_adzuna3], axis=0)
jobs_adzuna.shape

#jobs_linkedin2 = pd.read_pickle('../outputs/raw/jobs_linkedin_sept.pkl')

(14650, 23)
(9850, 23)
(100, 23)

(24600, 23)

In [5]:
for column in jobs_adzuna.columns:
    print(column, type(jobs_adzuna[column].iloc[0]))
jobs_adzuna.head()

latitude <class 'numpy.float64'>
adref <class 'str'>
salary_min <class 'numpy.float64'>
description <class 'str'>
id <class 'str'>
salary_max <class 'numpy.float64'>
longitude <class 'numpy.float64'>
salary_is_predicted <class 'str'>
__CLASS__ <class 'str'>
contract_type <class 'str'>
created <class 'str'>
title <class 'str'>
redirect_url <class 'str'>
location.display_name <class 'str'>
location.__CLASS__ <class 'str'>
location.area <class 'list'>
company.__CLASS__ <class 'str'>
company.display_name <class 'str'>
category.tag <class 'str'>
category.label <class 'str'>
category.__CLASS__ <class 'str'>
contract_time <class 'float'>
source <class 'str'>

,latitude,adref,salary_min,description,id,salary_max,longitude,salary_is_predicted,__CLASS__,contract_type,...,location.display_name,location.__CLASS__,location.area,company.__CLASS__,company.display_name,category.tag,category.label,category.__CLASS__,contract_time,source
0,33.449200,eyJhbGciOiJIUzI1NiJ9.eyJzIjoiU0VqUlNVS1o3eEdfa...,67200.00,We're helping our client to bring on dedicated...,4909432595,74880.00,-112.069600,0,Adzuna::API::Response::Job,contract,...,"Phoenix, Maricopa County",Adzuna::API::Response::Location,"[US, Arizona, Maricopa County, Phoenix]",Adzuna::API::Response::Company,AnyPlace MD,healthcare-nursing-jobs,Healthcare & Nursing Jobs,Adzuna::API::Response::Category,NaN,adzuna
1,40.873256,eyJhbGciOiJIUzI1NiJ9.eyJzIjoiU0VqUlNVS1o3eEdfa...,88000.00,We are seeking a Clinical Lab Technologist for...,4844860393,109000.00,-73.870576,0,Adzuna::API::Response::Job,permanent,...,"Van Cott, Bronx",Adzuna::API::Response::Location,"[US, New York, New York City, Bronx, Van Cott]",Adzuna::API::Response::Company,AnyPlace MD,scientific-qa-jobs,Scientific & QA Jobs,Adzuna::API::Response::Category,full_time,adzuna
2,31.759737,eyJhbGciOiJIUzI1NiJ9.eyJzIjoiU0VqUlNVS1o3eEdfa...,28800.00,Would being part of a cutting edge technology ...,4736389568,57600.00,-106.478871,0,Adzuna::API::Response::Job,permanent,...,"El Paso, El Paso County",Adzuna::API::Response::Location,"[US, Texas, El Paso County, El Paso]",Adzuna::API::Response::Company,Ada Business Solutions,sales-jobs,Sales Jobs,Adzuna::API::Response::Category,full_time,adzuna
3,40.887572,eyJhbGciOiJIUzI1NiJ9.eyJzIjoiU0VqUlNVS1o3eEdfa...,42157.43,Step in for absent teachers with Swing Educati...,4855075568,42157.43,-74.049884,1,Adzuna::API::Response::Job,NaN,...,"Hackensack, Bergen County",Adzuna::API::Response::Location,"[US, New Jersey, Bergen County, Hackensack]",Adzuna::API::Response::Company,Swing Education,teaching-jobs,Teaching Jobs,Adzuna::API::Response::Category,NaN,adzuna
4,41.900587,eyJhbGciOiJIUzI1NiJ9.eyJzIjoiU0VqUlNVS1o3eEdfa...,41046.05,Step in for absent teachers with Swing Educati...,4922651186,41046.05,-87.856728,1,Adzuna::API::Response::Job,NaN,...,"Melrose Park, Cook County",Adzuna::API::Response::Location,"[US, Illinois, Cook County, Melrose Park]",Adzuna::API::Response::Company,Swing Education,teaching-jobs,Teaching Jobs,Adzuna::API::Response::Category,NaN,adzuna

In [6]:
jobs_adzuna_selected = jobs_adzuna[['title','description','contract_type', 'contract_time',
'company.display_name', 'created','location.display_name','category.label', 'salary_max' ,'salary_min', #'location.area',
'redirect_url','source']].rename(columns={'title': 'job_title', 'description': 'job_description',
'company.display_name': 'company_name','created': 'publication_datetime','location.display_name': 'location','category.label': 'category',
'redirect_url': 'offer_link'})
#'location.area': 'locations_company',

jobs_adzuna_selected['publication_date'] = pd.to_datetime(jobs_adzuna_selected['publication_datetime']).dt.strftime("%Y-%m-%d")

jobs_adzuna_selected['publication_time'] = jobs_adzuna_selected['publication_datetime'].apply(lambda x: datetime.strptime(x, "%Y-%m-%dT%H:%M:%SZ").time())
jobs_adzuna_selected['country']='US'
jobs_adzuna_selected['industry']='not available'
jobs_adzuna_selected['currency']='dollars'
jobs_adzuna_selected['levels']='not available'

#jobs_adzuna_selected['locations_company'] = jobs_adzuna_selected['locations_company'].astype(str)
#jobs_adzuna_selected['locations_company'] = jobs_adzuna_selected['locations_company'].str.replace(r'[\[\]]', '', regex=True)
jobs_adzuna_selected.head()

print( 'taille jobadzuna avant dedoubloonnage', jobs_adzuna_selected.shape)
#companies['contents'] = companies['description'].apply(clean_text)

jobs_adzuna_selected=jobs_adzuna_selected.drop_duplicates()
print( 'taille jobadzuna apres dedoubloonnage', jobs_adzuna_selected.shape)

taille jobadzuna avant dedoubloonnage (24600, 18)
taille jobadzuna apres dedoubloonnage (9573, 18)

In [7]:
jobs_adzuna_selected.head()

,job_title,job_description,contract_type,contract_time,company_name,publication_datetime,location,category,salary_max,salary_min,offer_link,source,publication_date,publication_time,country,industry,currency,levels
0,Corrections LPN - Night Shift (Licensed Practi...,We're helping our client to bring on dedicated...,contract,NaN,AnyPlace MD,2024-10-21T19:21:54Z,"Phoenix, Maricopa County",Healthcare & Nursing Jobs,74880.00,67200.00,https://www.adzuna.com/details/4909432595?utm_...,adzuna,2024-10-21,19:21:54,US,not available,dollars,not available
1,Clinical Lab Technologist - Blood Bank,We are seeking a Clinical Lab Technologist for...,permanent,full_time,AnyPlace MD,2024-08-30T05:14:45Z,"Van Cott, Bronx",Scientific & QA Jobs,109000.00,88000.00,https://www.adzuna.com/details/4844860393?utm_...,adzuna,2024-08-30,05:14:45,US,not available,dollars,not available
2,Customer Service/Sales Rep,Would being part of a cutting edge technology ...,permanent,full_time,Ada Business Solutions,2024-06-14T09:33:24Z,"El Paso, El Paso County",Sales Jobs,57600.00,28800.00,https://www.adzuna.com/details/4736389568?utm_...,adzuna,2024-06-14,09:33:24,US,not available,dollars,not available
3,Middle School Substitute Teacher,Step in for absent teachers with Swing Educati...,NaN,NaN,Swing Education,2024-09-06T20:19:29Z,"Hackensack, Bergen County",Teaching Jobs,42157.43,42157.43,https://www.adzuna.com/details/4855075568?utm_...,adzuna,2024-09-06,20:19:29,US,not available,dollars,not available
4,"Substitute Teacher, create your own scedule",Step in for absent teachers with Swing Educati...,NaN,NaN,Swing Education,2024-11-01T19:44:20Z,"Melrose Park, Cook County",Teaching Jobs,41046.05,41046.05,https://www.adzuna.com/details/4922651186?utm_...,adzuna,2024-11-01,19:44:20,US,not available,dollars,not available

In [8]:
##jobs_adzuna_selected[jobs_adzuna_selected['job_title']=='Clinical Lab Technologist - Blood Bank']
#duplicates = jobs_adzuna_selected[jobs_adzuna_selected.duplicated()]
#duplicates[duplicates['job_title']=='Clinical Lab Technologist - Blood Bank']

In [9]:
jobs_themuse.head()

,contents,name,type,publication_date,short_name,model_type,id,locations,categories,tags,refs.landing_page,company.id,company.short_name,company.name,levels.name,levels.short_name
0,<p><strong>Gemeinsam machen wir den Unterschie...,Freileitungsmonteur (w/m/d) Fahrleitungs- und ...,external,2023-01-24T00:42:10Z,freileitungsmonteur-wmd-fahrleitungs-und-strom...,jobs,10536487,"[Bad Mergentheim, Germany]",Computer and IT,[],https://www.themuse.com/jobs/siemens/freileitu...,11913,siemens,Siemens,Mid Level,mid
1,<p><strong>Mechanical Assembler</strong><br><b...,Mechanical Assembler - 1st Shift,external,2023-04-26T23:41:35Z,mechanical-assembler-1st-shift-0a7d96,jobs,11259124,"[Clayton, NC]",Software Engineering,[],https://www.themuse.com/jobs/siemens/mechanica...,11913,siemens,Siemens,Senior Level,senior
2,<p>Bring your heart to CVS Health. Every one o...,Pharmacy Technician,external,2024-06-06T12:25:46Z,pharmacy-technician-4dfa8b,jobs,14569255,"[Rockville, MD]",Healthcare,[],https://www.themuse.com/jobs/cvshealth/pharmac...,12096,cvshealth,CVS Health,Senior Level,senior
3,<p><strong>Who designs your future? You do.</s...,Sr. Systems Specialist - Smart Buildings / Aut...,external,2023-05-03T23:45:16Z,sr-systems-specialist-smart-buildings-automati...,jobs,11034620,"[Waterloo, IA]",Design and UX,[],https://www.themuse.com/jobs/siemens/sr-system...,11913,siemens,Siemens,Senior Level,senior
4,<p>Bring your heart to CVS Health. Every one o...,Pharmacy Technician Front End - Full Time,external,2024-06-06T12:33:58Z,pharmacy-technician-front-end-full-time-416939,jobs,14444118,"[Edison, NJ]",Healthcare,[],https://www.themuse.com/jobs/cvshealth/pharmac...,12096,cvshealth,CVS Health,Mid Level,mid

In [10]:
jobs_theMuse_selected = jobs_themuse[['name','contents','type', 'company.name',
'publication_date', 'locations','categories','refs.landing_page','levels.name']].rename(columns={'name': 'job_title', 'contents': 'job_description',
'type': 'contract_type','company.name': 'company_name','publication_date': 'publication_datetime','locations': 'location',
'categories': 'category','refs.landing_page': 'offer_link','levels.name':'levels'})

jobs_theMuse_selected['publication_date'] = pd.to_datetime(jobs_theMuse_selected['publication_datetime']).dt.strftime("%Y-%m-%d")
jobs_theMuse_selected['publication_time'] = jobs_theMuse_selected['publication_datetime'].apply(lambda x: datetime.strptime(x, "%Y-%m-%dT%H:%M:%SZ").time())

jobs_theMuse_selected['country']='a travailler'
jobs_theMuse_selected['industry']='not available'
jobs_theMuse_selected['currency']='not available'
jobs_theMuse_selected['contract_time']='not available'
jobs_theMuse_selected['salary_max']=0
jobs_theMuse_selected['salary_min']=0

jobs_theMuse_selected['location'] = jobs_theMuse_selected['location'].astype(str)
jobs_theMuse_selected['location'] = jobs_theMuse_selected['location'].str.replace(r'[\[\]]', '', regex=True)
#jobs_theMuse_selected['locations_company']=jobs_theMuse_selected['location']

jobs_theMuse_selected['job_description'] = jobs_theMuse_selected['job_description'].apply(clean_text)

jobs_theMuse_selected["source"] = "TheMuse"

jobs_theMuse_selected.head()

,job_title,job_description,contract_type,company_name,publication_datetime,location,category,offer_link,levels,publication_date,publication_time,country,industry,currency,contract_time,salary_max,salary_min,source
0,Freileitungsmonteur (w/m/d) Fahrleitungs- und ...,<p><strong>Gemeinsam machen wir den Unterschie...,external,Siemens,2023-01-24T00:42:10Z,"'Bad Mergentheim, Germany'",Computer and IT,https://www.themuse.com/jobs/siemens/freileitu...,Mid Level,2023-01-24,00:42:10,a travailler,not available,not available,not available,0,0,TheMuse
1,Mechanical Assembler - 1st Shift,<p><strong>Mechanical Assembler</strong><br><b...,external,Siemens,2023-04-26T23:41:35Z,"'Clayton, NC'",Software Engineering,https://www.themuse.com/jobs/siemens/mechanica...,Senior Level,2023-04-26,23:41:35,a travailler,not available,not available,not available,0,0,TheMuse
2,Pharmacy Technician,<p>Bring your heart to CVS Health. Every one o...,external,CVS Health,2024-06-06T12:25:46Z,"'Rockville, MD'",Healthcare,https://www.themuse.com/jobs/cvshealth/pharmac...,Senior Level,2024-06-06,12:25:46,a travailler,not available,not available,not available,0,0,TheMuse
3,Sr. Systems Specialist - Smart Buildings / Aut...,<p><strong>Who designs your future? You do.</s...,external,Siemens,2023-05-03T23:45:16Z,"'Waterloo, IA'",Design and UX,https://www.themuse.com/jobs/siemens/sr-system...,Senior Level,2023-05-03,23:45:16,a travailler,not available,not available,not available,0,0,TheMuse
4,Pharmacy Technician Front End - Full Time,<p>Bring your heart to CVS Health. Every one o...,external,CVS Health,2024-06-06T12:33:58Z,"'Edison, NJ'",Healthcare,https://www.themuse.com/jobs/cvshealth/pharmac...,Mid Level,2024-06-06,12:33:58,a travailler,not available,not available,not available,0,0,TheMuse

In [11]:

#df[['currency', 'min_salary', 'max_salary']] = df['salary'].apply(extract_salary_info)
jobs_wttj.head()

,title,company,type_company,site_company,type_contract,salary,contents,date_public,monthsOfExperience,employmentType,...,qualifications,validThrough,logo,addressCountry,postalCode,addressLocality,streetAddress,industry,addressRegion,link_job
0,Manager Conseil en transformation data (H/F),iQo,Organization,https://www.iqo.eu/,Permanent contract,Salary:Not specified,<h3>🚀 <strong>iQo – le conseil accélérateur de...,2024-08-22T13:12:43Z,Not specified,FULL_TIME,...,,2024-11-20T13:12:43.000Z,https://cdn-images.welcometothejungle.com/C0fD...,FR,75008,Paris,"91 Rue du Faubourg Saint-Honoré, 75008 Paris, ...","Organization / Management, Strategy, Change Ma...",Paris,https://www.welcometothejungle.com/en/companie...
1,Consultant.e senior Stratégie & Conseil,iQo,Organization,https://www.iqo.eu/,Permanent contract,Salary:Not specified,<h3><strong>🚀 iQo – le conseil accélérateur de...,2024-08-22T13:12:43Z,Not specified,FULL_TIME,...,,2024-11-20T13:12:43.000Z,https://cdn-images.welcometothejungle.com/C0fD...,FR,75008,Paris,"91 Rue du Faubourg Saint-Honoré, 75008 Paris, ...","Organization / Management, Strategy, Change Ma...",Paris,https://www.welcometothejungle.com/en/companie...
2,Consultant.e Senior Supply chain,iQo,Organization,https://www.iqo.eu/,Permanent contract,Salary:Not specified,<h3><strong>🚀 iQo – le conseil accélérateur de...,2024-08-22T13:12:43Z,Not specified,FULL_TIME,...,,2024-11-20T13:12:43.000Z,https://cdn-images.welcometothejungle.com/C0fD...,FR,75008,Paris,"91 Rue du Faubourg Saint-Honoré, 75008 Paris, ...","Organization / Management, Strategy, Change Ma...",Paris,https://www.welcometothejungle.com/en/companie...
3,Consultant.e Contract Management,iQo,Organization,https://www.iqo.eu/,Permanent contract,Salary:Not specified,<h3><strong>🚀 iQo – le conseil accélérateur de...,2024-08-22T13:12:43Z,Not specified,FULL_TIME,...,,2024-11-20T13:12:43.000Z,https://cdn-images.welcometothejungle.com/C0fD...,FR,75008,Paris,"91 Rue du Faubourg Saint-Honoré, 75008 Paris, ...","Organization / Management, Strategy, Change Ma...",Paris,https://www.welcometothejungle.com/en/companie...
4,Manager Conseil Services Financiers - Offre Ba...,iQo,Organization,https://www.iqo.eu/,Permanent contract,Salary:Not specified,<h3><strong>🚀 iQo – le conseil accélérateur de...,2024-08-22T13:12:43Z,Not specified,FULL_TIME,...,,2024-11-20T13:12:43.000Z,https://cdn-images.welcometothejungle.com/C0fD...,FR,75008,Paris,"91 Rue du Faubourg Saint-Honoré, 75008 Paris, ...","Organization / Management, Strategy, Change Ma...",Paris,https://www.welcometothejungle.com/en/companie...

In [12]:
jobs_wttj_selected = jobs_wttj[['title', 'company', 'type_contract', 'contents', 'date_public',
       'employmentType','addressCountry', 'addressLocality',  'industry', 'link_job', 'salary']].rename(
columns={'title': 'job_title', 'contents': 'job_description',
'employmentType': 'contract_type','company': 'company_name','date_public': 'publication_datetime','addressLocality': 'location',
' addressCountry': 'country','link_job': 'offer_link'})



jobs_wttj_selected['publication_date'] = pd.to_datetime(jobs_wttj_selected['publication_datetime']).dt.strftime("%Y-%m-%d")
jobs_wttj_selected['publication_time'] = jobs_wttj_selected['publication_datetime'].apply(lambda x: datetime.strptime(x, "%Y-%m-%dT%H:%M:%SZ").time())
jobs_wttj_selected['industry']='not available'
jobs_wttj_selected['contract_time']='not available'
jobs_wttj_selected['category']='not available'

jobs_wttj_selected[['currency', 'salary_min', 'salary_max']] = jobs_wttj_selected['salary'].apply(extract_salary_info)
jobs_wttj_selected = jobs_wttj_selected.drop('salary', axis=1)

jobs_wttj_selected['location'] = jobs_wttj_selected['location'].astype(str)
jobs_wttj_selected['location'] = jobs_wttj_selected['location'].str.replace(r'[\[\]]', '', regex=True)
#jobs_wttj_selected['locations_company']=jobs_wttj_selected['location']

jobs_wttj_selected['job_description'] = jobs_wttj_selected['job_description'].apply(clean_text)
jobs_wttj_selected["levels"] = "not available"

jobs_wttj_selected["source"] = "Wttj"
jobs_wttj_selected=jobs_wttj_selected.drop_duplicates()


jobs_wttj_selected.head()

,job_title,company_name,type_contract,job_description,publication_datetime,contract_type,addressCountry,location,industry,offer_link,publication_date,publication_time,contract_time,category,currency,salary_min,salary_max,levels,source
0,Manager Conseil en transformation data (H/F),iQo,Permanent contract,<h3>🚀 <strong>iQo – le conseil accélérateur de...,2024-08-22T13:12:43Z,FULL_TIME,FR,Paris,not available,https://www.welcometothejungle.com/en/companie...,2024-08-22,13:12:43,not available,not available,Not,0.0,0.0,not available,Wttj
1,Consultant.e senior Stratégie & Conseil,iQo,Permanent contract,<h3><strong>🚀 iQo – le conseil accélérateur de...,2024-08-22T13:12:43Z,FULL_TIME,FR,Paris,not available,https://www.welcometothejungle.com/en/companie...,2024-08-22,13:12:43,not available,not available,Not,0.0,0.0,not available,Wttj
2,Consultant.e Senior Supply chain,iQo,Permanent contract,<h3><strong>🚀 iQo – le conseil accélérateur de...,2024-08-22T13:12:43Z,FULL_TIME,FR,Paris,not available,https://www.welcometothejungle.com/en/companie...,2024-08-22,13:12:43,not available,not available,Not,0.0,0.0,not available,Wttj
3,Consultant.e Contract Management,iQo,Permanent contract,<h3><strong>🚀 iQo – le conseil accélérateur de...,2024-08-22T13:12:43Z,FULL_TIME,FR,Paris,not available,https://www.welcometothejungle.com/en/companie...,2024-08-22,13:12:43,not available,not available,Not,0.0,0.0,not available,Wttj
4,Manager Conseil Services Financiers - Offre Ba...,iQo,Permanent contract,<h3><strong>🚀 iQo – le conseil accélérateur de...,2024-08-22T13:12:43Z,FULL_TIME,FR,Paris,not available,https://www.welcometothejungle.com/en/companie...,2024-08-22,13:12:43,not available,not available,Not,0.0,0.0,not available,Wttj

In [13]:
#jobs_linkedin.link.unique()
jobs_linkedin.head()

,title,company,location,link,salary,salary_min,salary_max,seniority_level,employment_type,job_function,job_industry,posted_time,company_link,source,ingest_date
0,Healthcare Scheduler - Fully Remote,Vigilance Health,United States,https://www.linkedin.com/jobs/view/healthcare-...,$18.00 - $19.00,$18.00,$19.00,Entry level,Full-time,Health Care Provider,Hospitals and Health Care,2024-11-02,https://www.linkedin.com/company/vigilance-hea...,linkedin,2024-11-02 19:54:25.139908
1,Marketing Assistant,PyjamaHR,"New York, NY",https://www.linkedin.com/jobs/view/marketing-a...,,,,Entry level,Full-time,Administrative,Professional Training and Coaching,2024-11-02,https://www.linkedin.com/company/computercore?...,linkedin,2024-11-02 19:54:25.139908
2,Online Proofreader,IEM,United States,https://www.linkedin.com/jobs/view/online-proo...,,,,Not Applicable,Full-time,Sales and Business Development,"Retail Apparel and Fashion, Design Services, a...",2024-11-02,https://www.linkedin.com/company/beyond-yoga?t...,linkedin,2024-11-02 19:54:25.139908
3,Bagger,Jungle Jim's International Market,"Fairfield, OH",https://www.linkedin.com/jobs/view/bagger-at-j...,,,,Entry level,Part-time,Information Technology,Human Resources Services,2024-11-02,https://www.linkedin.com/company/timelyfind?tr...,linkedin,2024-11-02 19:54:25.139908
4,Data Entry Operator,Computer CORE (Community OutReach and Education),United States,https://www.linkedin.com/jobs/view/data-entry-...,$45.00 - $50.00,$45.00,$50.00,Entry level,Full-time,Other,Retail,2024-11-02,https://www.linkedin.com/company/jungle-jim's-...,linkedin,2024-11-02 19:54:25.139908

In [14]:
jobs_linkedin_selected = jobs_linkedin[['title','employment_type', 'company','salary_min','salary_max',
'posted_time','location','job_industry','link','source','seniority_level','job_function']].rename(columns={'title': 'job_title', 'employment_type': 'contract_time',
'company': 'company_name','posted_time': 'publication_datetime','job_industry': 'industry','link': 'offer_link','seniority_level':'levels','job_function':'category'})

#jobs_linkedin_selected['publication_date'] = pd.to_datetime(jobs_adzuna_selected['publication_datetime']).dt.strftime("%Y-%m-%d")
jobs_linkedin_selected['contents']='not available'
jobs_linkedin_selected['currency']='a travailler'
jobs_linkedin_selected['publication_time'] =None

jobs_linkedin_selected['publication_date'] = pd.to_datetime(jobs_linkedin_selected['publication_datetime']).dt.strftime("%Y-%m-%d")

jobs_linkedin_selected['contract_type']='not available'

#jobs_linkedin_selected['locations_company']='not available'

#jobs_linkedin_selected['job_description'] = jobs_linkedin_selected['job_description'].apply(clean_text)
jobs_linkedin_selected.head()

,job_title,contract_time,company_name,salary_min,salary_max,publication_datetime,location,industry,offer_link,source,levels,category,contents,currency,publication_time,publication_date,contract_type
0,Healthcare Scheduler - Fully Remote,Full-time,Vigilance Health,$18.00,$19.00,2024-11-02,United States,Hospitals and Health Care,https://www.linkedin.com/jobs/view/healthcare-...,linkedin,Entry level,Health Care Provider,not available,a travailler,None,2024-11-02,not available
1,Marketing Assistant,Full-time,PyjamaHR,,,2024-11-02,"New York, NY",Professional Training and Coaching,https://www.linkedin.com/jobs/view/marketing-a...,linkedin,Entry level,Administrative,not available,a travailler,None,2024-11-02,not available
2,Online Proofreader,Full-time,IEM,,,2024-11-02,United States,"Retail Apparel and Fashion, Design Services, a...",https://www.linkedin.com/jobs/view/online-proo...,linkedin,Not Applicable,Sales and Business Development,not available,a travailler,None,2024-11-02,not available
3,Bagger,Part-time,Jungle Jim's International Market,,,2024-11-02,"Fairfield, OH",Human Resources Services,https://www.linkedin.com/jobs/view/bagger-at-j...,linkedin,Entry level,Information Technology,not available,a travailler,None,2024-11-02,not available
4,Data Entry Operator,Full-time,Computer CORE (Community OutReach and Education),$45.00,$50.00,2024-11-02,United States,Retail,https://www.linkedin.com/jobs/view/data-entry-...,linkedin,Entry level,Other,not available,a travailler,None,2024-11-02,not available

In [15]:
jobs1 = pd.concat([jobs_linkedin_selected, jobs_theMuse_selected], axis=0)
jobs2 = pd.concat([jobs1, jobs_adzuna_selected], axis=0)
jobs_final = pd.concat([jobs2, jobs_wttj_selected], axis=0)
jobs_final=jobs_final.drop_duplicates()
#jobs = pd.concat([jobs2, jobs_wttj_selected], axis=0)

shape=jobs_final.shape
print(f"Taille du dataframe fusionné : {shape}")
#Taille du dataframe fusionné : (16269, 21)

Taille du dataframe fusionné : (25571, 21)

In [16]:
jobs_final.head()
jobs_final['contents'] = jobs_final['contents'].progress_apply(translate_to_english)

100%|██████████| 25571/25571 [00:09<00:00, 2825.46it/s]

In [17]:
jobs_final.to_pickle('../outputs/final/jobs.pkl')

In [20]:
companies_linkedin.head()

,company_name,company_description,company_website,company_industries,company_size,company_associated_members,company_location,company_creation_date,company_specialities,source,ingest_date
0,U.S. House of Representatives,The U.S. House of Representatives is one of tw...,http://www.house.gov/,Legislative Offices,"10,001+ employees",LinkedIn members who’ve listed U.S. House of R...,"Washington, DC",None,None,linkedin,2024-11-07 18:17:14.373196
1,Relate Search,"Welcome to Relate Search, the purpose-driven s...",https://www.relatesearch.com/,Staffing and Recruiting,11-50 employees,LinkedIn members who’ve listed Relate Search a...,"Cincinnati , OH",2023,"Recruiting, Executive Search, Human Resources,...",linkedin,2024-11-07 18:17:14.373196
2,Avispa,"At Avispa, we ensure our contractors are as sa...",http://www.avispatechnology.com,Staffing and Recruiting,51-200 employees,LinkedIn members who’ve listed Avispa as their...,"Truckee, California",2023,"Recruiting, Executive Search, Human Resources,...",linkedin,2024-11-07 18:17:14.373196
3,clearer.io,"At Clearer.io, we’re on a mission to simplify ...",https://www.clearer.io/,Software Development,201-500 employees,LinkedIn members who’ve listed clearer.io as t...,"Boston, Massachusetts",2011,"Workforce Management Services, Flexible Worker...",linkedin,2024-11-07 18:17:14.373196
4,Cigna Healthcare,We are a health benefits provider that advocat...,Visit website,Hospitals and Health Care,"10,001+ employees",LinkedIn members who’ve listed Cigna Healthcar...,"Bloomfield, CT",2011,"Workforce Management Services, Flexible Worker...",linkedin,2024-11-07 18:17:14.373196

Index(['company_name', 'company_description', 'company_website',
       'company_industries', 'company_size', 'company_associated_members',
       'company_location', 'company_creation_date', 'company_specialities',
       'source', 'ingest_date'],
      dtype='object')

In [ ]:

#jupyter nbconvert --to script process_jobs.ipynb